body {
    background-color: #A8B5A0;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2.5em;
    line-height: 1.2;
    margin-top: 0.2em;
}

p {
    line-height: 1.5;
}

.card {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}